body {
    font-family: Roboto, sans-serif;
    background-color: #EDEDED;
    }

#header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #5052FC;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -3px 21px 0px rgba(0,0,0,0.50);
    }

#logo {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: 800;
    letter-spacing: 11.66px;
    }

#page_title {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: 800;
    }

#prev {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: 800;
    margin-left: 20px;
    color: yellow;
    float: left;
}

#next {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: 800;
    margin-right: 20px;
    color: yellow;
    float: right;
}


#prev a,
#next a{
    text-decoration: none;
    color: yellow;
    
}