<!DOCTYPE html>
<html>

<head>
	<title>Administrator Page</title>

	<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>

    <!-- Stylin -->
    <link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/admin_style.css' rel='stylesheet' type='text/css'>
    
    <!-- Javascript/JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	
	<script src='../public/scripts/data.js'></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <!-- Temporary styling, will move this to a css file later -->
    <style>
    	.label{
    		font-weight: bolder;
    	}
    	td{
    		padding: 10px;
    	}
    	#add_user_row{
    		display:none;
    	}
    	.user_row:nth-child(odd) {
    		background-color: #CCC
    	}

    </style>
</head>

<body>
	<div id="header">
        <div id="prev">
            <a href="index.html" id="prev_text">go back</a>
            </div>
        <div id="next">
            <a href="view_data.html" id="next_text">View data</a>
            </div>
        <!-- <div id="page_title"></div> -->
        <div id="logo"><a href='index.html'>JELLY WATCH</a></div>
    </div>

    <div id="content">

	<h2>Registered Users</h2>

	<div id = "add_user_div">

		<button class ="button" id="add_user" onclick="showAddUserRow()">Add User</button>

	</div>
	<div id="users">

		<!-- Table of Users -->
		<table id="user_table">

			<!-- Row of Column Labels -->
			<tr id = "label_row"> 
				<td class="email label">Email</td>
				<td class="password label">Password</td>
				<td class="org label">Is organization</td>
				<td class="admin label">Is admin</td>
				<td class="buttons"> <!-- Column for Buttons --> </td>
				</tr>

			<!-- Add User -->
			<tr id = "add_user_row">
			<form id = "add_user_form">
				<td><input type="text" class="email" name="new_email" autocapitalize="off" autocorrect="off"></input></td>	
				<td><input type="text" class="password" name="new_password" autocapitalize="off" autocorrect="off"></input></td>	
				<td><input type="checkbox" class="org" name="new_org"></input></td>	
				<td><input type="checkbox" class="org" name="new_admin"></input></td>
				<td><input class = "button" type="submit" id="submit_new_user"></input> <input class= "button" type="button" value="Cancel" onClick="cancelAddUser()"></input></td>
				</form>
			</tr>
			
		</table>
	</div>
	<form action='/jellyfish/csv' method='POST'><input id='csv_token' type='hidden' name='token'/><input class= "csvbutton" type=submit value="Download sightings as CSV"/></form>
	
	</div>

	<!-- Javascript stuff, will probably move to a separate file later -->
	<script type="text/javascript">
		if (!Data.isLoggedIn()) location.href = 'login.html';
		
		/* 
			Shows the input boxes where admin can enter new user info
		*/
		function showAddUserRow() {
			$('#add_user_row').show();
			$("input[name=new_email]").attr('disabled', false);
		}
		
		function cancelAddUser() {
			$('#add_user_row').hide();
		}
		
		$("#csv_token").val(Data.token);
		
		/*
			Reloads data from the server
		*/
		function reload() {

			Data.listUsers(function(callback) {
				if(callback!=null){
				if (callback.message) {
					alert(callback.message);
				} else {
					// show users:
					$('#user_table .user').remove();
					callback.users.forEach(function(user) {
						var email = $(document.createElement("td")).addClass('email').text(user.email);
						var pwd = $(document.createElement("td")).addClass('password').text('******');
						var isOrg = $(document.createElement("td")).addClass('org').append($(document.createElement('input')).attr({type: 'checkbox', checked: user.is_organization}).css('pointer-events', 'none'));	
						var isAdmin = $(document.createElement("td")).addClass('admin').append($(document.createElement('input')).attr({type: 'checkbox', checked: user.is_admin}).css('pointer-events', 'none'));
						
						var buttons = $(document.createElement('td'));
						var edit = $(document.createElement("button")).text("Edit").click(function() {
							editUser(user);
						}).appendTo(buttons);
						var deleteButton = $(document.createElement("button")).text("Delete").click(function() {
							deleteUser(user.email);
						}).appendTo(buttons);
						
						var row = $(document.createElement('tr')).append([email, pwd, isOrg, isAdmin, buttons]).addClass('user');
						row.appendTo("#user_table");
						
					})
				}
			}
			})

			
		}
		
		function deleteUser(email) {
			if (window.confirm("Are you sure you want to delete " + email + "?")) {
				Data.deleteAccount(email, function(success) {
					reload();
				})
			}
		}
		
		function editUser(user) {
			showAddUserRow();
			$("input[name=new_email]").attr('disabled', 'disabled');
			$("[name='new_email']").val(user.email);
			$("[name='new_org']").attr('checked', user.is_organization);
			$("[name='new_admin']").attr('checked', user.is_admin);
			$("[name='new_password']").val("");
		}
		
		/*
			Called when form is submitted
		*/
		$('#add_user_form').submit(function(e){
			e.preventDefault();
			
			//set variables
			var email = $("[name='new_email']").val(); 
			var isOrg = $("[name='new_org']").is(':checked');
			var isAdmin = $("[name='new_admin']").is(':checked');
			var password = $("[name='new_password']").val();
			
			Data.createOrUpdateAccount(email, password, isAdmin, isOrg, function(success) {
				console.log("called"); 
				reload();
			})
			
			/*
function(email, password, isAdmin, isOrganizationalAccount, callback) {
		// callback returns true or false, for success or not
		// if the username already exists, we'll update it
		// only admins can call this
			*/

			//hide the input boxes
			$('#add_user_row').hide();
		});
		
		reload();

	</script>


</body>

</html>