<!DOCTYPE html>
<html>
<head>
    <title>Record a Sighting!</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/form_style.css' rel='stylesheet' type='text/css'>
    
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="../public/scripts/data.js"></script>

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="" id="prev_text">go back</a>
            </div>
        <div id="next">
            <a href="" id="next_text">continue</a>
            </div>
        <!-- <div id="page_title"></div> -->
        <div id="logo">JELLYWATCH</div>
    </div>
    

    <div id="form_div">
        <form id="form">

        <!-- #####################################
                JELLYFISH QUESTIONS 
        ##################################### --> 

        <div class="question_div visible" id="jellyfish_questions">

            <h4 class="question">How many of each species of jellyfish do you see?</h4>

                <br><input type="radio" name="none"> None

                <!-- Jellyfish Species -->

                <div class="section group">
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Comb Jelly</p>
                        <img src="../public/img/Comb_Jelly.jpg" class="image">
                        <br><input type="radio" name="comb" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="comb" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="comb" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="comb" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Cigar Jelly</p>
                        <img src="../public/img/Cigar_Jelly.jpg" class="image">
                        <br><input type="radio" name="cigar" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="cigar" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="cigar" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="cigar" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Moon Jelly</p>
                        <img src="../public/img/Moon_Jelly.jpg" class="image">
                        <br><input type="radio" name="moon" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="moon" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="moon" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="moon" value=">100"> > 100
                    </div>
                </div>

                <div class="section group">
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Lion's Mane</p>
                        <img src="../public/img/Lions_Mane_Jelly.jpg" class="image">
                        <br><input type="radio" name="lions_mane" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="lions_mane" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="lions_mane" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="lions_mane" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Stinging Sea Nettle</p>
                        <img src="../public/img/Stinging_Sea_Nettle_Jelly.jpg" class="image">
                        <br><input type="radio" name="stinging" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="stinging" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="stinging" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="stinging" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Crystal Jelly</p>
                        <img src="../public/img/Crystal_Jelly.jpg" class="image">
                        <br><input type="radio" name="crystal" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="crystal" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="crystal" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="crystal" value=">100"> > 100
                    </div>
                </div>

                <div class="section group">
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Cross Jelly</p>
                        <img src="../public/img/Cross_Jelly.jpg" class="image">
                        <br><input type="radio" name="cross" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="cross" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="cross" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="cross" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Man o' War</p>
                        <img src="../public/img/Man_o'_War_Jelly.jpeg" class="image">
                        <br><input type="radio" name="man_of_war" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="man_of_war" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="man_of_war" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="man_of_war" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Salps</p>
                        <img src="../public/img/Salps.jpg" class="image">
                        <br><input type="radio" name="salps" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="salps" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="salps" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="salps" value=">100"> > 100
                    </div>
                </div>

                <div class="section group">
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Freshwater Jellyfish</p>
                        <img src="../public/img/Freshwater_Jelly.jpg" class="image">
                        <br><input type="radio" name="freshwater" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="freshwater" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="freshwater" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="freshwater" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3 jellyfish">
                        <p class="species_name">Other (See Photos)</p>
                        <img src="../public/img/Other.jpg" class="image">
                        <br><input type="radio" name="other" value="1 - 10"> 1 - 10
                        <br><input type="radio" name="other" value="11 - 49"> 11 - 49
                        <br><input type="radio" name="other" value="51 - 100"> 51 - 100
                        <br><input type="radio" name="other" value=">100"> > 100
                    </div>
                    <div class="col span_1_of_3">

                    </div>
                </div>
        </div> 

       <!-- #####################################
                MARINE ANIMALS QUESTIONS 
        ##################################### --> 

        <div class="question_div" id="marine_animals_questions">

            <h4 class="question">Do you see any of these species of marine animal nearby?</h4>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="checkbox" name="marine" value="Horseshoe Crab">Horseshoe Crab

        </div> 

       <!-- #####################################
                WATER USE QUESTIONS
        ##################################### --> 

        <div class="question_div" id="water_use_questions">

                <h4 class="question"> How are people using the water nearby?</h4>
                        <input type="checkbox" name="water_use" value="No one is using the water"> No one is using the water
                    <br><input type="checkbox" name="water_use" value="Sunbathing"> Sunbathing
                    <br><input type="checkbox" name="water_use" value="Swimming"> Swimming
                    <br><input type="checkbox" name="water_use" value="Fishing from shore"> Fishing from shore
                    <br><input type="checkbox" name="water_use" value="Boating"> Boating
                    <br><input type="checkbox" name="water_use" value="Harvesting shellfish"> Harvesting shellfish

        </div>

       <!-- #####################################
                ENVIRONMENT QUESTIONS
        ##################################### --> 

        <div class="question_div" id="environment_questions">

           <h4 class="question">How's the weather? </h4>
                    <input type="radio" name="weather" value="Sunny"> Sunny
                <br><input type="radio" name="weather" value="Cloudy"> Cloudy
                <br><input type="radio" name="weather" value="Overcast"> Overcast 
                <br><input type="radio" name="weather" value="Rainy"> Rainy
                <br><input type="radio" name="weather" value="Snowy"> Snowy

            <h4 class="question">How windy is it? </h4>
                    <input type="radio" name="wind" value="Low"> Low
                <br><input type="radio" name="wind" value="Medium"> Medium
                <br><input type="radio" name="wind" value="High"> High

            <h4 class="question">How clear is the water? </h4>
                    <input type="radio" name="water" value="Clear"> Clear
                <br><input type="radio" name="water" value="Turbid"> Turbid

            <h4 class="question">Do you see attached seaweed, typical on rocky shore? </h4>
                    <input type="radio" name="seaweed" value="Yes"> Yes
                <br><input type="radio" name="seaweed" value="No"> No

            <h4 class="question">Do you see unattached macroalgae blooms? </h4>
                    <input type="checkbox" name="macroalgae" value="None observed"> None observed
                <br><input type="checkbox" name="macroalgae" value="Green Sea Lettuce"> Green Sea Lettuce
                <br><input type="checkbox" name="macroalgae" value="Red Algae (Grateloupia)"> Red Algae (Grateloupia)
                <br><input type="checkbox" name="macroalgae" value="Brown Seaweed"> Brown Seaweed
                <br>Other: <input type="text" name="macroalgae" id="macroalgae_other">

        </div>

       <!-- #####################################
                PHOTO, COMMENTS, SUBMIT FORM
        ##################################### --> 

        <div class="question_div" id="photo_comments">

            <h4 class="question">Attach up to two photos!</h4>
                    <input type="file" name="photo">
            
            <h4 class="question">Any last comments?</h4>
                    <input type="text" name="comments" class="comments">

            <br><input type="submit">

        </div>

        </form>
    </div>

    <div id="success">u succeeded congrats</div>

   <!-- JAVASCRIPT STUFF --> 

    <script type='text/javascript'>
		
   if (!location.hash) location.href = 'index.html'
	   var hash = location.hash.substring(1)
	   var lat = parseFloat(hash.split(',')[0])
	   var lng = parseFloat(hash.split(',')[1])
		
        // ######################################
        // Show & hide divs based on next/prev button clicks
        // ######################################

        $(document).ready(function(){
            $('#success').hide();
        })

        $('#prev_text').click(function(e){
            e.preventDefault();
            if ($('.visible').attr('id')=="jellyfish_questions"){
                //go to MAP
                window.location.href="index.html"
            }
            $('#next_text').show();
            $('.visible').toggleClass('visible').prev().toggleClass('visible');
        });


        $('#next_text').click(function(e){
            e.preventDefault();
            /*$('.visible').next().toggle(function(){
                $(this).toggleClass("visible");
                if ($(this).attr('id')=="photo_comments"){
                    //hide the next button
                    $('#next_text').hide();
                };
            });
            $('.visible').first().toggle(function(){
                $(this).toggleClass("visible");
            });*/
			$('.visible').first().toggleClass('visible').next().toggleClass('visible');
			if ($('.visible').attr('id') == 'photo_comments') {
                // hide the next button
                $('#next_text').hide();
			}
        });


        // ######################################
        // Send Form Data
        //
        //
        // NOTES 
        //
        // 1. edit the jellyfish names in the python file
        // 2. edit the microalgae blooms to be macroalgae
        // 3. weather thing???
        // 4. move fonts into css file? idk
        // 5. what do i do abt the none thing
        // 6. need to add photo + comment functionality thing? 
        //
        // ######################################

        $('#form').submit(function(event){

            event.preventDefault(); // just 4 checking stuff. delete later

            var sighting = {};

            // *********** Jellyfish Species Counts *********** 

            var species_counts = {};
            $('div.jellyfish').each(function(){
                var jelly_name = $(this).children('p').text();
                if ($(this).children('input:checked').length>0){
                    var count = $(this).children('input:checked').val();
                    species_counts[jelly_name] = count;
                };
            });

            // *********** Nearby Species *********** 

            var nearby_species = $("input[name=marine]:checked").map(function(){
                return this.value;
            }).get();

            // *********** Macroalgae *********** 

            var microalgae_blooms_obj = $("input[name=macroalgae]:checked").map(function(){
                return this.value;
            }).get();

            if ($('#macroalgae_other').val()!=""){
                microalgae_blooms_obj.push($('#macroalgae_other').val());
            }

            // *********** Water Clarity *********** 

            var water_clarity = $("input[name=water]:checked").val();

            // *********** Attached Seaweed *********** 

            var attached_seaweed_val = $("input[name=seaweed]:checked").val();
            var attached_seaweed;
            if (attached_seaweed_val=="Yes"){
                attached_seaweed = true;
            } else if (attached_seaweed_val=="No"){
                attached_seaweed = false;
            } else { //nothing was checked
            }

            // *********** Water Use *********** 

            var water_uses = $("input[name=water_use]:checked").map(function(){
                return this.value;
            }).get();

            // *********** Time + Date *********** 

            var today = new Date();
            var hour = today.getHours() % 12 || 12;
            
            var ampm; //format AM/PM
            if (today.getHours()<12){
                ampm = " AM";
            } else {
                ampm = " PM";
            };

            var minutes; //format minutes
            if (today.getMinutes()<10){
                minutes="0"+String(today.getMinutes());
            } else {
                minutes=String(today.getMinutes());
            }

            var current_time = String(hour)+":"+minutes+ampm;
            var current_date = String(today.getMonth()+1)+"/"+String(today.getDate())+"/"+String(today.getFullYear());

            // * * * * * * * * * * * * * * * * * * * * * * * 
            //          Putting it All Together 
            // * * * * * * * * * * * * * * * * * * * * * * *  

            sighting["lat"] = lat;
            sighting["lng"] = lng;
            sighting["species_counts"] = species_counts;
            sighting["nearby_species"] = nearby_species;
            sighting["microalgae_blooms"] = microalgae_blooms_obj;
            sighting["water_clarity"] = water_clarity;
            sighting["attached_seaweed"] = attached_seaweed; 
            sighting["water_uses"] = water_uses;
            sighting["time_of_day"] = current_time;
            sighting["date"] = current_date;

            //need to add comments and photos n stuff


            Data.submitSighting(sighting, function(response){
                
                // move this stuff into the if statement
                $('#photo_comments').hide();
                $('#success').show();

                if (response["success"] == true){
                    
                };
            });

        });



    </script>
    
</body>

</html>