<!DOCTYPE html>
<html>
<head>
	<title>Jelly Watch</title>
	<link rel="apple-touch-icon" href="../public/img/icon.png" />
	
	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs6KKpgjX0_KWXFebMVZGkl_fL2nZ7YzA">
	</script>
	<script src='../public/scripts/data.js'></script>
	<script src='../public/scripts/map_pins.js'></script>
	<script src='../public/scripts/map_generator.js'></script>
	
	

	<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
	<link href='../public/stylesheets/map_style.css' rel='stylesheet' type='text/css'>
	<link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>

	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>

<body>
	<div id="header">
        <div id="prev">
            <a href="#" id="prev_text" onClick='showMenu()'>menu</a>
            </div>
        <div id="next">
            <a href="admin_page.html" id="next_text">admin</a>
            </div>
        <!-- <div id="page_title"></div> -->
        <div id="logo"><a href='index.html'>JELLY WATCH</a></div>
    </div>
	
	<div id='mapContainer'>
		<div id="googleMap"></div>
		<div class= "imgbox">
			<img id="bubble" src='../public/img/RecordSighting.svg' onmouseover = "this.src = '../public/img/RecordSightingHover.svg'" onmouseout = "this.src='../public/img/RecordSighting.svg'" onClick='recordSighting()' />
		</div>
	</div>
	
	<div id='menu' class='dismiss' style='display: none'>
		<div class='dismiss'>
			<div id='box'>
				<p><a href='#' onClick='logOut()'>Log Out</a></p>
				<p><a href='https://www.facebook.com/RIjellywatch'>RI Jellywatch on Facebook</a></p>
				<p><a href='#' onClick='closeMenu()'>Back to Map</a></p>
			</div>
		</div>
	</div>

	<script>
	if (Data.isLoggedIn()) {
		document.getElementById('next_text').style.display = (Data.user && Data.user.is_admin) ? 'block' : 'none';
	} else {
		location.href = 'login.html'
	}

	function showMenu() {
		$("#menu").show();
	}

	function closeMenu() {
		$("#menu").hide();
	}
	
	$('#menu').click(function(e) {
		if ($(e.target).hasClass('dismiss')) {
			closeMenu();
		}
	})

	function logOut() {
		Data.logOut()
		location.href = 'login.html';
	}

	function recordSighting() {
		location.href = 'form_page.html#' + MapPos.lat + ',' + MapPos.lng;

	}
	google.maps.event.addDomListener(window, 'load', initMap);

	</script>
</body>
</html>
