<!DOCTYPE html> 
<html>
<head>
	<!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../public/stylesheets/login_style.css' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="../public/scripts/data.js"></script>
    <script type="text/javascript" src="../public/scripts/login.js"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
	<div id = "JellyWatch">
		<h1>JELLYWATCH</h1><br>
			<!-- <p id="login-err" > Invalid Username or Password.</p><br> -->
		<form id="form">
	        <input type="text" id="username" name="username" placeholder="Username" autocapitalize="off" autocorrect="off"> <br>
	        <span id="username-err" style="color: red; display: none">Required Field.</span><br>
	        <input type="password" id="pwd" name="pwd"placeholder="Password" autocapitalize="off" autocorrect="off">
	        <span id="pwd-err" style="color: red ; display: none">Required Field</span><br><br><br>
	        <input type="submit"  id = "sub" value="SIGN IN">
   		</form>
	</div>
	<div id = "Info">
		<p><a href="http://www.google.com">Field Guide</a></p>
		<h4>CONTACT US:</h4>
		<p><a href="http://quidditch.gis.brown.edu/Jellyfish_RI/index.html">Rhode Island JellyFish</a></p>
		<p><a href="https://www.facebook.com/RIjellywatch">Facebook</a></p>
	</div>
</body>
</html>
