<!DOCTYPE html>
<html>
<head>
    <title>Environment</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/form_style.css' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="form_page3.html">prev</a>
            </div>
        <div id="next">
            <a href="">next</a>
            </div>
        <div id="page_title">Environment</div>
        <!-- <div id="logo">JELLYWATCH</div> -->
    </div>
    
    <form id="form">

        <h4 class="question">How's the weather? </h4>
            <!-- should only be able to select 1-->
                <input type="radio" name="weather"> Sunny
            <br><input type="radio" name="weather"> Rainy
            <br><input type="radio" name="weather"> Cloudy
            <br><input type="radio" name="weather"> Other: <input type="text">
        
        <h4 class="question">How windy is it? </h4>
            <!-- should only be able to select 1-->
                <input type="radio" name="wind"> Low
            <br><input type="radio" name="wind"> Medium
            <br><input type="radio" name="wind"> High

        <h4 class="question">How clear is the water? </h4>
            <!-- should only be able to select 1-->
                <input type="radio" name="water"> Clear
            <br><input type="radio" name="water"> Turbid

        <h4 class="question">Do you see seagrass? </h4>
            <!-- should only be able to select 1-->
                <input type="radio" name="seagrass"> Yes
            <br><input type="radio" name="seagrass"> No

        <h4 class="question">Do you see bloom-forming algae? </h4>
            <!-- should only be able to select 1-->
                <input type="radio" name="algae"> Yes
            <br><input type="radio" name="algae"> No

    </form>
    
</body>

</html>