<!DOCTYPE html>
<html>
<head>
    <title>Marine Animals</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../css/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../css/form_style.css' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="form_page1.html">prev</a>
            </div>
        <div id="next">
            <a href="form_page3.html">next</a>
            </div>
        <div id="page_title">Marine Animals</div>
        <!-- <div id="logo">JELLYWATCH</div> -->
    </div>
    
    <form id="form">
    <h4 class="question"> How many of each species of marine animal do you see?</h4>
        
    </form>
    
</body>

</html>