<!DOCTYPE html>
<html>
<head>
    <title>Water Use</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../css/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../css/form_style.css' rel='stylesheet' type='text/css'>

    <!-- Javascript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="form_page2.html">prev</a>
            </div>
        <div id="next">
            <a href="form_page4.html">next</a>
            </div>
        <div id="page_title">Water Use</div>
        <!-- <div id="logo">JELLYWATCH</div> -->
    </div>
    
    <form id="form">

            <h4 class="question"> How are people using the water nearby?</h4>
                <input type="checkbox"> Swimming
                <br><input type="checkbox"> Fishing
                <br><input type="checkbox"> Hanging out on the beach
                <br><input type="checkbox"> Water Polo
                <br>Other: <input type="text">  
        
    </form>
    
</body>

</html>