<!DOCTYPE html>
<html>
<head>
    <title>Jellyfish</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/form_style.css' rel='stylesheet' type='text/css'>
    
    <!-- Javascript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="">prev</a>
            </div>
        <div id="next">
            <a href="form_page2.html">next</a>
            </div>
        <div id="page_title">Jellyfish</div>    
        <!-- <div id="logo">JELLYWATCH</div> -->
    </div>
    
    <form id="form">
        <h4 class="question">How many of each species of jellyfish do you see?</h4>
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly1"> 0 - 10
            <br><input type="radio" name="jelly1"> 10 - 50
            <br><input type="radio" name="jelly1"> 50+

            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly2"> 0 - 10
            <br><input type="radio" name="jelly2"> 10 - 50
            <br><input type="radio" name="jelly2"> 50+
        
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly3"> 0 - 10
            <br><input type="radio" name="jelly3"> 10 - 50
            <br><input type="radio" name="jelly3"> 50+
        
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly4"> 0 - 10
            <br><input type="radio" name="jelly4"> 10 - 50
            <br><input type="radio" name="jelly4"> 50+
        
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly5"> 0 - 10
            <br><input type="radio" name="jelly5"> 10 - 50
            <br><input type="radio" name="jelly5"> 50+

            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly6"> 0 - 10
            <br><input type="radio" name="jelly6"> 10 - 50
            <br><input type="radio" name="jelly6"> 50+
        
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly7"> 0 - 10
            <br><input type="radio" name="jelly7"> 10 - 50
            <br><input type="radio" name="jelly7"> 50+
        
            <p class="species_name">Comb Jelly</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="jelly8"> 0 - 10
            <br><input type="radio" name="jelly8"> 10 - 50
            <br><input type="radio" name="jelly8"> 50+

        
    </form>

    
</body>

</html>