<!DOCTYPE html>
<html>
<head>
    <title>Jellyfish</title>
    
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    
    <!-- Stylin -->
    <link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
    <link href='../public/stylesheets/form_style.css' rel='stylesheet' type='text/css'>
    
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body>
    
    <div id="header">
        <div id="prev">
            <a href="" id="prev_text">prev</a>
            </div>
        <div id="next">
            <a href="" id="next_text">next</a>
            </div>
        <div id="page_title">Jellyfish</div>    
        <!-- <div id="logo">JELLYWATCH</div> -->
    </div>
    

    <div id="form_div">
    <form id="form">

        <!-- #####################################
                JELLYFISH QUESTIONS 
        ##################################### --> 

        <div class="question_div visible" id="jellyfish_questions">

            <h4 class="question">How many of each species of jellyfish do you see?</h4>

                <!-- if none is selected, the rest should be greyed out -->
                <br><input type="radio" name="none"> None

                <!-- Jellyfish Species -->

                <p class="species_name">Comb Jelly</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly1"> 1 - 10
                <br><input type="radio" name="jelly1"> 11 - 49
                <br><input type="radio" name="jelly1"> 51 - 100
                <br><input type="radio" name="jelly1"> > 100

                <p class="species_name">Cucumber or Basket Comb Jelly</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly2"> 1 - 10
                <br><input type="radio" name="jelly2"> 11 - 49
                <br><input type="radio" name="jelly2"> 51 - 100
                <br><input type="radio" name="jelly2"> > 100

                <p class="species_name">Moon Jelly</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly3"> 1 - 10
                <br><input type="radio" name="jelly3"> 11 - 49
                <br><input type="radio" name="jelly3"> 51 - 100
                <br><input type="radio" name="jelly3"> > 100

                <p class="species_name">Lion's Mane</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly4"> 1 - 10
                <br><input type="radio" name="jelly4"> 11 - 49
                <br><input type="radio" name="jelly4"> 51 - 100
                <br><input type="radio" name="jelly4"> > 100

                <p class="species_name">Stinging Sea Nettle</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly5"> 1 - 10
                <br><input type="radio" name="jelly5"> 11 - 49
                <br><input type="radio" name="jelly5"> 51 - 100
                <br><input type="radio" name="jelly5"> > 100

                <p class="species_name">Crystal Jelly</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly6"> 1 - 10
                <br><input type="radio" name="jelly6"> 11 - 49
                <br><input type="radio" name="jelly6"> 51 - 100
                <br><input type="radio" name="jelly6"> > 100

                <p class="species_name">Cross Jelly</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly7"> 1 - 10
                <br><input type="radio" name="jelly7"> 11 - 49
                <br><input type="radio" name="jelly7"> 51 - 100
                <br><input type="radio" name="jelly7"> > 100

                <p class="species_name">Man of War</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly8"> 1 - 10
                <br><input type="radio" name="jelly8"> 11 - 49
                <br><input type="radio" name="jelly8"> 51 - 100
                <br><input type="radio" name="jelly8"> > 100

                <p class="species_name">Salps</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly9"> 1 - 10
                <br><input type="radio" name="jelly9"> 11 - 49
                <br><input type="radio" name="jelly9"> 51 - 100
                <br><input type="radio" name="jelly9"> > 100

                <p class="species_name">Freshwater Jellyfish</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly10"> 1 - 10
                <br><input type="radio" name="jelly10"> 11 - 49
                <br><input type="radio" name="jelly10"> 51 - 100
                <br><input type="radio" name="jelly10"> > 100
            
                <p class="species_name">Other (See Photos)</p>
                <img src="../public/img/Comb_Jelly.jpg" class="image">
                <br><input type="radio" name="jelly11"> 1 - 10
                <br><input type="radio" name="jelly11"> 11 - 49
                <br><input type="radio" name="jelly11"> 51 - 100
                <br><input type="radio" name="jelly11"> > 100

    </div> 

   <!-- #####################################
            MARINE ANIMALS QUESTIONS 
    ##################################### --> 

    <div class="question_div" id="marine_animals_questions">

        <h4 class="question">Do you see any of these species of marine animal nearby?</h4>

            <p class="species_name">Horseshoe Crabs</p>
            <img src="../public/img/Comb_Jelly.jpg" class="image">
            <br><input type="radio" name="marine1"> Yes
            <br><input type="radio" name="marine1"> No

    </div> 

   <!-- #####################################
            WATER USE QUESTIONS
    ##################################### --> 

    <div class="question_div" id="water_use_questions">

            <h4 class="question"> How are people using the water nearby?</h4>
                <input type="checkbox"> No one is using the water
                <br><input type="checkbox"> Sunbathing
                <br><input type="checkbox"> Swimming
                <br><input type="checkbox"> Fishing from shore
                <br><input type="checkbox"> Boating
                <br><input type="checkbox"> Harvesting shellfish
                <br>Other: <input type="text">  

    </div>

   <!-- #####################################
            ENVIRONMENT QUESTIONS
    ##################################### --> 

    <div class="question_div" id="environment_questions">

       <h4 class="question">How's the weather? </h4>
                <input type="radio" name="weather"> Sunny
            <br><input type="radio" name="weather"> Cloudy
            <br><input type="radio" name="weather"> Overcast 
            <br><input type="radio" name="weather"> Rainy
            <br><input type="radio" name="weather"> Snowy
        
        <h4 class="question">How windy is it? </h4>
                <input type="radio" name="wind"> Low
            <br><input type="radio" name="wind"> Medium
            <br><input type="radio" name="wind"> High

        <h4 class="question">How clear is the water? </h4>
                <input type="radio" name="water"> Clear
            <br><input type="radio" name="water"> Turbid

        <h4 class="question">Do you see attached seaweed, typical on rocky shore? </h4>
                <input type="radio" name="seaweed"> Yes
            <br><input type="radio" name="seaweed"> No

        <h4 class="question">Do you see unattached macroalgae blooms? </h4>
                <input type="checkbox" name="macroalgae"> None observed
            <br><input type="checkbox" name="macroalgae"> Green Sea Lettuce
            <br><input type="checkbox" name="macroalgae"> Red Algae (Grateloupia)
            <br><input type="checkbox" name="macroalgae"> Brown Seaweed
            <br><input type="text" name="macroalgae"> Other

    </div>

   <!-- #####################################
            PHOTO, COMMENTS, SUBMIT FORM
    ##################################### --> 

    <div class="question_div" id="photo_comments">

        <h4 class="question">Attach up to two photos!</h4>
                <input type="file" name="photo">
        
        <h4 class="question">Any last comments?</h4>
                <input type="text" name="comments">

        <input type="submit">

    </div>

    </form>
    </div>



    <!-- Showing/hiding divs -->
    <script type='text/javascript'>

        $(document).ready(function(){

            $('#form').children().not(".visible").hide();

        })

        $('#next_text').click(function(e){
            e.preventDefault();

            $('.visible').next().toggle(function(){
                $(this).toggleClass("visible");
            });
            
            $('.visible').first().toggle(function(){
                $(this).toggleClass("visible");
            });



        });

        $('#prev_text').click(function(e){
            e.preventDefault();

            $('.visible').prev().toggle(function(){
                $(this).toggleClass("visible");
            });
            
            $('.visible').last().toggle(function(){
                $(this).toggleClass("visible");
            });
            
        });

    </script>
    
</body>

</html>