<!DOCTYPE html>
<html>
<head>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAs6KKpgjX0_KWXFebMVZGkl_fL2nZ7YzA">
	</script>
	<script src='../public/scripts/data.js'></script>
	<script src='../public/scripts/map_generator.js'></script>
	<script>
		google.maps.event.addDomListener(window, 'load', initMap);
	</script>
	<link href='../public/stylesheets/map_style.css' rel='stylesheet' type='text/css'>
	<link href='../public/stylesheets/header_style.css' rel='stylesheet' type='text/css'>
	
</head>

<body>

	<div id="header">
        <div id="prev">
            <a href="" id="prev_text">go back</a>
            </div>
        <div id="next">
            <a href="" id="next_text">continue</a>
            </div>
        <!-- <div id="page_title"></div> -->
        <div id="logo">JELLYWATCH</div>
    </div>

	<div id="googleMap"></div>
</body>
</html>
