#content{
	width: 50%;
	margin: 0 auto;
	padding-top: 80px;
}

table {
	/*width: 90%;*/
	/*margin: 0 auto;*/
	padding-bottom: 10px;
}

td:first-child {
	padding-left: 5;
}


tr:nth-child(even) {
	background: #dbdbdb;
}
table button {
	color: black;
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 0 auto;
    cursor: pointer;   
    font-family: Rubik;
    background: #D1D1D1;
}
#users{
	margin: 0 auto;
}


#content .button{
	color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;   
    font-family: Rubik;

    background: #D1D1D1;
}
#add_user_div .button{
	box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);
}
#content .csvbutton{
	color: black;
	padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 0 auto;
    cursor: pointer;   
    font-family: Rubik;
    width: 25%;
    background: #D1D1D1;
    box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.25);
}
