#form {
    line-height: 1.8;
    padding: 20px;
    font-size: 13px;
    padding-top: 100px;
}

.qty { /* for button increasing/decreasing quantity*/
    width: 40px;
    height: 25px;
    text-align: center;
}

.image {
    width: 75%;
}

.question{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.species_name{
    font-size: 16px;
}

.comments{
}

.question_div{
    max-width: 90%;
    margin: 0 auto;
}
.question_div:not(.visible) {
	display: none;
}

#success{
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top: 80px;
    left:0px;
    z-index:1000;
}

#success_blue{
    width: 80%;
    height: 60%;
    position: relative;
    background-color: #5052FC;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-family: Rubik;
    padding-left: 5%;
    padding-right: 5%;
}

#mascot{
    height: 80%;
}

#thanks{
    color: white;
    text-align: center;
    position: relative;
    margin-top: 60%;
}

#myImg{
   display: none;
   height: 40%;
   width: 40%;
}

/* Grid Stuff... */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
    text-align: center; /*choices shouldn't be center aligned*/
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
