.jellyfish, .nearby_species {
	width: 150px;
	max-width: 100%;
	display: inline-block;
	margin: 10px;
}

#jellyfish_questions {
	text-align: center;
}

#marine_animals_questions {
	text-align: center;
}

#form {
    line-height: 1.8;
    font-size: 13px;
    padding-top: 100px;
}

.qty { /* for button increasing/decreasing quantity*/
    width: 40px;
    height: 25px;
    text-align: center;
}

.image {
    width: 100%;
}

.question{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
.question2{
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}

.species_name{
    font-size: 16px;
}

.jellyfish .image {
	display: block;
}

.comments{
}

.question_div{
    max-width: 100%;
    margin: 0 auto;
}
.question_div:not(.visible) {
	display: none;
}

#success{
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top: 80px;
    left:0px;
    z-index:1000;
}
/*#success:before{
    content:"";
    background:url(../img/giphy.gif) no-repeat;
    z-index:-1;
    opacity:0.5;
}*/

.mascot{
    opacity:1;
}
#success_blue{
    background-image:url("../img/giphy.gif"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    opacity:0.65; 
}

@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
#typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

span.mascot{
    color: white;
    text-align: center;
    font-family: Rubik;  
    position: relative;
    margin-top: 60%;}      
}

#myImg{
   display: none;
   height: 40%;
   width: 40%;
}

/* Grid Stuff... */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

#water_use_questions {
    width: 300px;
	text-align: left;
}
#water_use_questions  .question{
    text-align: left;
}
#environment_questions{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#environment_questions .question{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#photo_comments{
    width: 200px;
    text-align: left;
}
#photo_comments .question{
    text-align: left;
}
.uses, 
.environment {
	/*display: inline-block;*/
	text-align: left;
	/*line-height: 3;*/
}
.radio_label {
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;   
    font-family: Rubik;
    width: 50%;
    background: #D1D1D1;
    /*box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.50);*/
    /*border: 3px solid #b5b5b5;*/
    border-radius: 5px;
}
#jellyfish_questions input[type="radio"],
#marine_animals_questions input[type="radio"]{
    display: none;
}
#environment_questions input[type="radio"] {
    display: none;
}


/*checkbox stuff*/
.box {
    float:left;
    margin-right: 10px;
    border: 4px solid #979797;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    display: block;
    /*text-decoration: none;*/
    text-align: center;
    /*background-color: orange;*/
}
.checked {
    background: #5052FC;
}
.checkbox_label{
    display: block;
    margin: 4px;
}
.checkbox_label span{
    position: relative;
    top: 7px;
}

.check{
    position: relative;
    display: none;
    top: 10%;
    width: 80%;
    height: 80%;
}
#water_use_questions input[type="checkbox"],
#environment_questions input[type="checkbox"]{
    display:none;
}

#jellyfish_questions input[type="radio"]{
    display: none;
}

#success{
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top: 80px;
    left:0px;
    z-index:-1000;
}

#success_blue{
    background-image:url("../img/giphy.gif"); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    opacity:0.65;
    z-index:-1; 
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

