.jellyfish, .nearby_species {
	width: 150px;
	max-width: 100%;
	display: inline-block;
	margin: 10px;
}

#jellyfish_questions {
	text-align: center;
}

#marine_animals_questions {
	text-align: center;
}

#form {
    line-height: 1.8;
    font-size: 13px;
    padding-top: 100px;
}

.qty { /* for button increasing/decreasing quantity*/
    width: 40px;
    height: 25px;
    text-align: center;
}

.image {
    width: 100%;
}

.question{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
.question2{
    font-size: 18px;
    text-align: left;
    font-weight: 400;
}

.species_name{
    font-size: 16px;
}

.jellyfish .image {
	display: block;
}

.comments{
}

.question_div{
    max-width: 100%;
    margin: 0 auto;
}
.question_div:not(.visible) {
	display: none;
}

#success{
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top: 80px;
    left:0px;
    z-index:1000;
}

#success_blue{
    width: 80%;
    height: 60%;
    position: relative;
    background-color: #5052FC;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-family: Rubik;
    padding-left: 5%;
    padding-right: 5%;
}

#mascot{
    height: 80%;
}

#thanks{
    color: white;
    text-align: center;
    position: relative;
    margin-top: 60%;
}

#myImg{
   display: none;
   height: 40%;
   width: 40%;
}

/* Grid Stuff... */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

#water_use_questions {
    width: 300px;
	text-align: left;
}
#water_use_questions  .question{
    text-align: left;
}
#environment_questions{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#environment_questions .question{
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

#photo_comments{
    width: 200px;
    text-align: left;
}
#photo_comments .question{
    text-align: left;
}
.uses, 
.environment {
	display: inline-block;
	text-align: left;
	line-height: 2;
}
.uses input,
.environment input {
	font-size: 2em;
}
.radio_label {
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;   
    font-family: Rubik;
    width: 50%;
    background: #D1D1D1;
    box-shadow: 4px 3px 4px 0px rgba(0,0,0,0.50);
}
#jellyfish_questions input[type="radio"]{
    display: none;
}
#marine_animals_questions input[type="radio"]{
    display: none;
}
.box {
    float:left;
    margin-right: 10px;
    border: 2px solid #979797;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    text-decoration: none;
    text-align: center;
}
.checked {
    background: orange;
}

#checkbox-0{
    display:none;
}
