.jellyfish, .nearby_species {
	width: 150px;
	max-width: 100%;
	display: inline-block;
	margin: 10px;
}

#jellyfish_questions {
	text-align: center;
}

#marine_animals_questions {
	text-align: center;
}

#form {
    line-height: 1.8;
    font-size: 13px;
    padding-top: 100px;
}

.qty { /* for button increasing/decreasing quantity*/
    width: 40px;
    height: 25px;
    text-align: center;
}

.image {
    width: 100%;
}

.question{
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}

.species_name{
    font-size: 16px;
}

.jellyfish .image {
	display: block;
}

.comments{
}

.question_div{
    max-width: 100%;
    margin: 0 auto;
}
.question_div:not(.visible) {
	display: none;
}

#success{
    background-color: black;
    position:fixed;
    width:100%;
    height:100%;
    top: 80px;
    left:0px;
    z-index:1000;
}

#success_blue{
    width: 80%;
    height: 60%;
    position: relative;
    background-color: #5052FC;
    margin: 0 auto;
    margin-top: 80px;
    text-align: center;
    font-family: Rubik;
    padding-left: 5%;
    padding-right: 5%;
}

#mascot{
    height: 80%;
}

#thanks{
    color: white;
    text-align: center;
    position: relative;
    margin-top: 60%;
}

#myImg{
   display: none;
   height: 40%;
   width: 40%;
}

/* Grid Stuff... */

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

#water_use_questions {
	text-align: center;
}
.uses {
	display: inline-block;
	text-align: left;
	line-height: 2;
}
.uses input {
	font-size: 2em;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: table;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*.squaredTwo {
    width: 28px;
    height: 28px;
    background: #5052FC;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    margin: 20px auto;

    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
    position: relative;
}*/

/*.squaredTwo label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 4px;
    top: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
    background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
    background: -o-linear-gradient(top, #222 0%, #45484d 100%);
    background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(top, #222 0%, #45484d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

*/
