body {
    font-family: Roboto, sans-serif;
    background-color: #EDEDED;
    }

#header {
    width: 100%;
    height: 80px;
    color: white;
    background-color: #5052FC;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px -3px 21px 0px rgba(0,0,0,0.50);
	z-index: 10;
}

#logo {
    padding-top: 31px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: bold;
    letter-spacing: 6px;
/*    position: absolute;
    left: 50%;*/
    }
#logo a {
		text-decoration: none;
		color: inherit;
	}
#logo a:hover {
		text-decoration: underline;
	}

#page_title {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: bold;
    }

#prev {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: normal;
    margin-left: 12px;
    color: yellow;
    float: left;
}

#next {
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: Rubik;
    font-weight: normal;
    margin-right: 12px;
    color: yellow;
    float: right;
}


#prev a,
#next a{
    text-decoration: none;
    color: yellow;
    
}