body{
  background-color: #5052FC;
  color:white;
  font-family: Roboto, sans-serif;
  background-image: url("../img/jelly_bg_test.png");
}
h1{
  font-family: Rubik, sans-serif;
  font-weight: bold;
  letter-spacing: 11.66px;
  margin: 0 auto;
  font-size: 18px;
}
.links{
  background: #0615B5;
  /*box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);*/
  border-radius: 5px;
  height: 30px;
  width: 170px;
  font-family: Rubik, sans-serif;
  font-weight: lighter;
  line-height: 29px;
  font-size: 13px;
  margin: 0 auto;
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.50);
  border: 2px solid transparent;
}
.links:hover{
  border: 2px solid #95A7EC;
}
#username, #pwd{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  border: 0px;
  height: 25px;
  width: 250px;
  padding-left: 10px;
  outline: none;
}

#sub{
  background-color: #95A7EC;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  font-family: Rubik;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  color: #FFFFFF;
  letter-spacing: 2.51px;
  line-height: 36px;
  width: 100px;
  height: 40px;
  border: 2px solid transparent;
}

#sub:hover{
  background: #95A7EC;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
}

#JellyWatch
{
  margin-top: 180px;
  border-radius: 3px;
  text-align: center;

}
#Info
{
/*  position: absolute;*/
  margin: 0 auto;
  margin-top: 30px;
/*  top: 450px;*/
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  text-align: center;

}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}
p{
  margin: 0;
}