body{
  background-color: #5052FC;
  color:white;
  font-family: Roboto;
}
h1{
  font-family: Rubik;
  font-weight: bold;
  letter-spacing: 11.66px;
  margin: 0 auto;
  font-size: 18px;
}

#username, #pwd{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 5px;
  border: 0px;
  height: 25px;
  width: 250px;
  padding-left: 10px;
}

#sub{
  /* Rectangle 6 Copy 2: */
  background: #95A7EC;
  border: 0px solid #FFFFFF;
/*  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);*/
/*  border-radius: 5px;*/
/*  width: 24px;
  height: 30px;*/
}

#JellyWatch
{
/*  position: absolute;
  margin: auto;*/
  margin-top: 180px;
/*  right: 0;
  bottom: 0;
  left: 0;*/
/*  width: 200px;
  height: 200px;*/
  border-radius: 3px;
  text-align: center;

}
#Info
{
/*  position: absolute;*/
  margin: 0 auto;
  margin-top: 30px;
/*  top: 450px;*/
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  text-align: center;

}

#sub{
  padding-top: 50px;
}
a:link {
    text-decoration: none;
    color:white;
}
a:visited {
    text-decoration: none;
    color:white;

}
h4{
}
p{
  margin: 0;
}