html, body, #mapContainer, #googleMap {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	overflow: hidden;
}
#mapContainer {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	bottom: 0;
}
#menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f7f7f7;
	z-index: 100;
	display: inline-table;
}
#menu > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 10vh;
}
#menu a {
	color: black;
    font-family: Rubik;
	text-decoration: none;
}
#mapContainer #bubble {
	position: absolute;
	left: 50%;
	margin-left: -104px;
	width: 208px;
	bottom: 50%;
	z-index: 10;
}

.imgbox:hover{
	background-image: url("../img/RecordSightingHover.svg");

}


